header {
  height: 100vh;
  padding-top: 10rem;
  overflow: hidden;
}

.header__container {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.span1{
  color: var(--color-primary);
}

/* CTA STYLE */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: start;
}

/* SOCIALS STYLE */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 25;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* une */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 35rem;
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
  border-radius: 8rem 8rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* Shko Posht */

.scroll__down {
  position: absolute;
  right: 25rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
